{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>{{ 'user.title'|trans }}</h1>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-default pull-right" id="addBtn" data-toggle="modal" data-target="#newModal">{{ 'buttons.add'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% if users|length > 0 %}
            <table class="datatable">
                <thead>
                    <tr>
                        <th>{{ 'profile.firstname'|trans }}</th>
                        <th>{{ 'user.username'|trans }}</th>
                        <th>{{ 'profile.email'|trans }}</th>
                        <th>{{ 'profile.adresse'|trans }}</th>
                        <th>{{ 'profile.phone'|trans }}</th>
                        <th>NIF</th>
                        <th>STAT</th>
                        <th>{{ 'user.role'|trans }}</th>
                        <th>{{ 'buttons.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% set role = '' %}
                    {% if 'ROLE_CANDIDAT' in user.roles %}
                        {% set role = 'Candidat' %}
                    {% elseif 'ROLE_SOCIETE' in user.roles %}
                        {% set role = 'Société' %}
                    {% elseif 'ROLE_ADMIN' in user.roles %}
                        {% set role = 'Administrateur' %}
                    {% endif %}

                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.adresse }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.nif }}</td>
                        <td>{{ user.stat }}</td>
                        <td>{{ role }}</td>
                        <td>                            
                            <a href="#" title="{{ 'buttons.edit'|trans }}" onclick="editUser({{ user.id }});return false;"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;</a>
                            <a href="{{ path('user_delete', { 'id': user.id }) }}" title="{{ 'buttons.delete'|trans }}"><i class="fa fa-remove" aria-hidden="true"></i>&nbsp;</a>
                            <a href="{{ path('user_activate', { 'id': user.id }) }}" title="{{ 'buttons.activate'|trans }}"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ 'user.aucun'|trans }}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ 'user.new'|trans }}</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger alert-dismissible content-error" style="display:none">
            <h4><i class="icon fa fa-ban"></i> {{ 'buttons.error'|trans }}</h4>
            <p id="content-error"></p>
          </div>
          <form action="{{ path("user_new") }}" method="post" id="addForm" class="form-horizontal">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}   

            <div class="form-group hidden">
                <label for="roles" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">Type utilisateur</label>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    {{ form_widget(form.roles, {'attr': {'class': 'role_user'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label for="roles" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">Type utilisateur</label>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <select class="form-control" name="role_user" id="role_user">
                        <option value="ROLE_DGPE">DGPE</option>
                        <option value="ROLE_SOCIETE">{{ 'offre.societe'|trans }}</option>
                        <option value="ROLE_CANDIDAT">{{ 'candidature.liste.candidat'|trans }}</option>
                        <option value="ROLE_ADMIN">{{ 'user.administrateur'|trans }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="nom" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{{ 'profile.firstname'|trans }}</label>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group role_societe">
                <label for="nif" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">NIF</label>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    {{ form_widget(form.nif, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group role_societe">
                <label for="stat" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">STAT</label>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    {{ form_widget(form.stat, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label for="adresse" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{{ 'profile.adresse'|trans }}</label>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label for="telephone" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{{ 'profile.phone'|trans }}</label>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{{ 'profile.email'|trans }}</label>      
                <div class="col-sm-8">
                   {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{{ 'user.username'|trans }}</label>       
                <div class="col-sm-8">
                   {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {% for key,passwordField in form.plainPassword %}
                <div class="form-group">
                    {% if key == 'first' %}
                        <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> {{ 'user.password'|trans }}</label>  
                    {% else %}      
                        <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4">{{ 'user.confirm_password'|trans }}</label>
                    {% endif %}
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                       {{ form_widget(passwordField, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            {% endfor %}

            {{ form_rest(form)}}

            <div class="form-group">
                <div class=" pull-right">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'buttons.save'|trans }}" class="btn btn-primary" />
                </div>
            </div>
            
          </form>            
        </div>
      </div>
    </div>
</div>

<input type="hidden" id="edit_user_url" value="{{ path('user_edit') }}" />
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editLabel">{{ 'user.modal.edit'|trans }}</h4>
      </div>
      <div class="modal-body editForm">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'buttons.close'|trans }}</button>
        <button type="button" onclick="sendEditForm()" class="btn btn-primary">{{ 'buttons.edit'|trans }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
